<?xml version="1.0"?>
<!-- /** * Magevol Slider * * @category Magevol * @package Magevol_Slider 
	* @copyright Copyright (c) 2016-2017 magevol.com (ttp://www.magevol.com) 
	* @license http://opensource.org/licenses/osl-3.0.php Open Software License 
	(OSL 3.0) */ -->
<config>
	<modules>
		<Magevol_Slider>
			<version>0.1.0</version>
		</Magevol_Slider>
	</modules>
	<global>
		<blocks>
			<magevol_slider>
				<class>Magevol_Slider_Block</class>
			</magevol_slider>
		</blocks>
		<helpers>
			<magevol_slider>
				<class>Magevol_Slider_Helper</class>
			</magevol_slider>
		</helpers>
		<models>
			<magevol_slider>
				<class>Magevol_Slider_Model</class>
				<resourceModel>magevol_slider_resource</resourceModel>
			</magevol_slider>
			<magevol_slider_resource>
				<class>Magevol_Slider_Model_Resource</class>
				<entities>
					<slider>
						<table>magevol_slider</table>
					</slider>
					<slider_content>
						<table>magevol_slider_content</table>
					</slider_content>
					<slider_content_text>
						<table>magevol_slider_content_text</table>
					</slider_content_text>
					<slider_content_button>
						<table>magevol_slider_content_button</table>
					</slider_content_button>
					<stores>
						<table>magevol_slider_stores</table>
					</stores>
					<pages>
						<table>magevol_slider_pages</table>
					</pages>
					<categories>
						<table>magevol_slider_categories</table>
					</categories>
				</entities>
			</magevol_slider_resource>
		</models>
		<resources>
			<magevol_slider_setup>
				<setup>
					<module>Magevol_Slider</module>
					<class>Magevol_Slider_Model_Resource_Setup</class>
				</setup>
			</magevol_slider_setup>
		</resources>
		<slider>
			<content>
				<custom>
					<groups>
						<text translate="label" module="magevol_slider">
							<label>Text</label>
							<render>magevol_slider/adminhtml_slider_edit_tab_content_type_text</render>
						</text>
						<button translate="label" module="magevol_slider">
							<label>Button</label>
							<render>magevol_slider/adminhtml_slider_edit_tab_content_type_button</render>
						</button>
					</groups>
				</custom>
			</content>
		</slider>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<magevol_slider>
					<file>magevol/slider.xml</file>
				</magevol_slider>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Magevol_Slider before="Mage_Adminhtml">Magevol_Slider_Adminhtml</Magevol_Slider>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<routers>
			<magevol_slider>
				<use>standard</use>
				<args>
					<module>Magevol_Slider</module>
					<frontName>slider</frontName>
				</args>
			</magevol_slider>
		</routers>
		<layout>
			<updates>
				<magevol_slider>
					<file>magevol/slider.xml</file>
				</magevol_slider>
			</updates>
		</layout>
	</frontend>
	<default>
		<magevol_slider>
			<general>
				<load_jquery>0</load_jquery>
				<transition></transition>
				<pagination_speed>500</pagination_speed>
				<slide_speed>500</slide_speed>
				<rewind_speed>500</rewind_speed>
				<auto_play>1</auto_play>
				<stop_on_hover>0</stop_on_hover>
			</general>
		</magevol_slider>
	</default>
</config>
